<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="imu_gazebo" params="parent">

  <gazebo>
    <plugin name="imu_controller" filename="libgazebo_ros_imu.so">
          <alwaysOn>true</alwaysOn>       
          <bodyName>imu_link</bodyName>
          <topicName>imu_data</topicName>
          <serviceName>imu_service</serviceName>
          <gaussianNoise>2.89e-08</gaussianNoise>
          <xyzOffsets>0 0 0</xyzOffsets>
          <rpyOffsets>0 0 0</rpyOffsets>
          <updateRate>50.0</updateRate> 
      </plugin>
  </gazebo>

</xacro:macro>

</robot>
